Repository javidsegura/url-shortener: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-format, terraform-format

.pre-commit-config.yaml:

repos:
  # Backend: Format using Makefile
  - repo: local
    hooks:
      - id: backend-format
        name: Backend format (make format-fix)
        entry: bash -c 'cd backend && source ../.venv/bin/activate && make format-fix'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        always_run: false

  # Frontend: Format frontend using Makefile
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend format 
        entry: bash -c 'cd frontend && make format'
        language: system
        files: ^frontend/app/.*\.*$
        pass_filenames: false
        always_run: false

  # Infra: Format Terraform using Makefile
  - repo: local
    hooks:
      - id: terraform-format
        name: Terraform format (make terraform-fmt-all)
        entry: bash -c 'cd infra && make terraform-fmt-all'
        language: system
        files: ^infra/terraform/.*\.tf$
        pass_filenames: false
        always_run: false

finally all CD code
  .github/workflows/cd-deploy.yml
  .gitignore
  backend/.gitignore
  backend/src/url_shortener/core/clients/firebase.py
  frontend/.gitignore
Due: backend-format

finally all CD code
  .github/workflows/cd-deploy.yml
  deployment/docker-compose.production.yml
  infra/Makefile
  infra/scripts/resource_connections/create_connection.py
  infra/terraform/aws/environment/production/modules/vpc/main.tf
Due: terraform-format

added diagrams
  backend/src/url_shortener/core/settings/environment/base.py
  backend/src/url_shortener/routers/health.py
  frontend/app/src/pages/Home.tsx
  media/cloud-arch/aws.png
  media/cloud-arch/azure.mmd
  media/cloud-arch/ci-cd/full-pipeline.mmd
Due: backend-format, frontend-format

added readmes
  .github/workflows/cd-deploy.yml
  Makefile
  README.MD
  REPORT.MD
  backend/.gitignore
  backend/env_config/base/.env.dev.example
  backend/env_config/base/.env.production.example
  backend/env_config/base/.env.staging.example
  backend/env_config/base/.env.test.example
  media/ci-cd/full-pipeline.mmd
Due: none

Add files via upload
  media/DevOps, II Assingment.pdf
Due: none

Rename media/DevOps, II Assingment.pdf to media/reports/DevOps, II Assingment.pdf(
  media/reports/DevOps, II Assingment.pdf(
Due: none

Rename DevOps, II Assingment.pdf( to DevOps, II Assingment.pdf
  media/reports/DevOps, II Assingment.pdf
Due: none

added final frontend update
  frontend/app/src/pages/Home.tsx
Due: frontend-format

added final frontend update
  backend/src/url_shortener/routers/health.py
Due: backend-format

added test coverage for unit tests
  .github/workflows/cd-deploy.yml
  backend/Makefile
Due: none

fianl update to readme
  README.MD
Due: none

Add files via upload
  coverage-report.zip
Due: none

fianl update to readme
  .github/workflows/cd-deploy.yml
Due: none

Update README.MD
  README.MD
Due: none

Remove sensitive credentials from .env.dev.example
  backend/env_config/base/.env.dev.example
Due: none

Remove AZURE_STORAGE_ACCOUNT_KEY from .env.production.example
  backend/env_config/base/.env.production.example
Due: none
