Repository javidsegura/url-shortener: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-format, frontend-format, terraform-format

.pre-commit-config.yaml:

repos:
  # Backend: Format using Makefile
  - repo: local
    hooks:
      - id: backend-format
        name: Backend format (make format-fix)
        entry: bash -c 'cd backend && source ../.venv/bin/activate && make format-fix'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        always_run: false

  # Frontend: Format frontend using Makefile
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend format 
        entry: bash -c 'cd frontend && make format'
        language: system
        files: ^frontend/app/.*\.*$
        pass_filenames: false
        always_run: false

  # Infra: Format Terraform using Makefile
  - repo: local
    hooks:
      - id: terraform-format
        name: Terraform format (make terraform-fmt-all)
        entry: bash -c 'cd infra && make terraform-fmt-all'
        language: system
        files: ^infra/terraform/.*\.tf$
        pass_filenames: false
        always_run: false

Added templates for test phases in CI
  .github/workflows/cd-deploy.yml
  .github/workflows/ci-backend.yml
  backend/test/load/load_test.js
Due: none

IN THIS VERY MOMENT WE FINALLY HAVE MANUAL CD + HEALTHETCHK ON PROD
  Makefile
  backend/Makefile
  backend/pyproject.toml
  backend/src/url_shortener/core/settings/environment/deployment.py
  backend/src/url_shortener/core/settings/environment/dev.py
  backend/src/url_shortener/dependencies/firebase.py
  backend/src/url_shortener/main.py
  backend/src/url_shortener/routers/user.py
  backend/test/integration/conftest.py
  backend/test/load/load_test.js
  backend/test/unit/business_logic/test_link_shortening.py
  backend/test/unit/clients/aws/test_s3.py
  backend/test/unit/clients/aws/test_secrets_manager.py
  backend/test/unit/conftest.py
  backend/test/unit/dependencies/test_firebase.py
  backend/test/unit/test_app_settings.py
  deployment/docker-compose.dev.yml
  deployment/docker-compose.production.yml
  deployment/docker-compose.staging.yml
  deployment/docker-compose.test.yml
  deployment/docker-compose.yml
  deployment/reverse-proxy-config/nginx.dev.conf
  deployment/reverse-proxy-config/nginx.prod.conf
  deployment/telemetry/grafana/provisioning/dashboards/16110_rev4.json
  deployment/telemetry/grafana/provisioning/dashboards/dashboard.yml
  deployment/telemetry/grafana/provisioning/datasources/datasource.yml
  deployment/telemetry/prometheus.yml
  infra/ansible/playbook/multi-container.yml
  infra/terraform/azure/modules/mysql_db/main.tf
Due: backend-format, terraform-format

Added deployment dir modularity
  Makefile
  deployment/docker-compose.dev.yml
  deployment/docker-compose.production.yml
  deployment/docker-compose.staging.yml
  deployment/docker-compose.test.yml
  infra/ansible/playbook/multi-container.yml
Due: none

Added grafana to prod
  deployment/docker-compose.production.yml
Due: none

Added early prototype for CI/CD
  .github/workflows/cd-deploy.yml
  backend/Makefile
  deployment/docker-compose.production.yml
Due: none

finally progressevie rollout is out
  backend/Makefile
  backend/src/url_shortener/routers/health.py
  deployment/docker-compose.production.yml
  infra/ansible/playbook/multi-container.yml
Due: backend-format

CD added
  .github/workflows/cd-deploy.yml
  Makefile
  backend/Makefile
  backend/src/url_shortener/main.py
  backend/src/url_shortener/routers/health.py
  deployment/docker-compose.dev.yml
  deployment/docker-compose.production.yml
  frontend/Makefile
  frontend/app/src/pages/Home.tsx
  infra/Makefile
  infra/ansible/playbook/multi-container.yml
Due: backend-format, frontend-format

hotfix: missing bash instruction at infra makefile
  .github/workflows/cd-deploy.yml
  Makefile
  infra/Makefile
Due: none

hotfix: missing environmental variables for terraform init
  .github/workflows/cd-deploy.yml
Due: none

Added tests + precommit
  .github/workflows/cd-deploy.yml
  .github/workflows/ci-backend.yml
  .pre-commit-config.yaml
  Makefile
  backend/Makefile
  backend/src/url_shortener/core/clients/aws.py
  backend/src/url_shortener/routers/health.py
  backend/test/integration/database/test_user_crud.py
  backend/test/regression/conftest.py
  backend/test/regression/test_url_shortening_bugs.py
  backend/test/smoke/conftest.py
  backend/test/smoke/endpoints/conftest.py
  backend/test/smoke/endpoints/test_health.py
  backend/test/smoke/endpoints/test_user.py
  backend/test/unit/core/logger/__init__.py
  backend/test/unit/core/logger/test_colorful_formatter.py
  backend/test/unit/core/logger/test_logger.py
  backend/test/unit/database/CRUD/__init__.py
  backend/test/unit/database/CRUD/test_links.py
  backend/test/unit/dependencies/test_storage.py
  backend/test/unit/main/__init__.py
  backend/test/unit/main/test_main.py
  backend/test/unit/routers/__init__.py
  backend/test/unit/routers/test_health.py
  backend/test/unit/routers/test_links.py
  backend/test/unit/routers/test_redirect.py
  backend/test/unit/routers/test_user.py
  backend/test/unit/services/infra/secrets/__init__.py
  backend/test/unit/services/infra/storage/__init__.py
  backend/test/unit/services/infra/storage/test_storage.py
  deployment/docker-compose.test.yml
Due: backend-format

Added smoke tests
  .github/workflows/ci-backend.yml
  README.MD
  backend/Dockerfile
  backend/Makefile
  backend/src/url_shortener/core/settings/environment/dev.py
  backend/test/smoke/endpoints/conftest.py
  backend/test/smoke/endpoints/test_user.py
  deployment/docker-compose.test.yml
Due: backend-format

added full CI for backend
  .github/workflows/ci-backend.yml
Due: none

hotfix: solved error with the formatting
  .github/workflows/ci-backend.yml
  backend/src/url_shortener/routers/user.py
Due: backend-format

hotfix: solved error with the .env
  .github/workflows/ci-backend.yml
Due: none

hotfix: solved error with the formatter
  .github/workflows/ci-backend.yml
Due: none

hotfix: solved error with the environmental variables
  backend/test/regression/conftest.py
  backend/test/unit/conftest.py
Due: backend-format

hotfix: solved error with the load tests
  .github/workflows/ci-backend.yml
  backend/Makefile
Due: none

hotfix: solved error with the k6
  .github/workflows/ci-backend.yml
  backend/Makefile
  backend/src/url_shortener/routers/health.py
Due: backend-format

hotfix: solved error with the k6666
  .github/workflows/ci-backend.yml
  backend/test/load/load_test.js
Due: none

hotfix: solved error with the k6666
  .github/workflows/ci-backend.yml
Due: none

hotfix: solved error with the k6666
  backend/src/url_shortener/core/clients/firebase.py
Due: backend-format

hotfix: solved error with the k6666 aaaa
  .github/workflows/ci-backend.yml
  backend/Makefile
  deployment/docker-compose.test.yml
Due: none

hotfix: solved error with the k6666 aaaa
  .github/workflows/ci-backend.yml
  backend/Makefile
Due: none

hotfix: solved error with the k6666 aaaa
  deployment/docker-compose.test.yml
Due: none

hotfix: solved error with the k6666 aaaa
  backend/test/load/load_test.js
Due: none

hotfix: removed load tests for the moment
  .github/workflows/ci-backend.yml
  backend/test/load/load_test.js
Due: none

finally all CD code
  .github/workflows/cd-deploy.yml
  backend/src/url_shortener/routers/health.py
  backend/test/unit/routers/test_health.py
  frontend/app/src/pages/Home.tsx
  infra/scripts/output_redirection/utils/extractor.py
Due: backend-format, frontend-format

finally all CD code
  .github/workflows/cd-deploy.yml
Due: none

finally all CD code
  infra/Makefile
Due: none

finally all CD code
  infra/Makefile
  infra/requirements.txt
Due: none

finally all CD code
  infra/requirements.txt
  infra/scripts/output_redirection/main.py
Due: none

finally all CD code
  .github/workflows/cd-deploy.yml
  infra/Makefile
Due: none

finally all CD code
  backend/src/url_shortener/routers/health.py
  frontend/app/src/pages/Home.tsx
  infra/ansible/playbook/multi-container.yml
Due: backend-format, frontend-format

finally all CD code
  infra/ansible/playbook/multi-container.yml
Due: none

finally all CD code
  .gitignore
  infra/ansible/playbook/multi-container.yml
Due: none
